In [6]:
# importing libraries
import pandas as pd
import numpy

In [8]:
df = pd.read_excel(r'C:\Users\Arindham Krishna\Desktop\Data Engineer MIT\Data Sets\bglrprice\TestBHP.xlsx')

In [15]:
# df.info()

In [14]:
# df.describe()

In [17]:
df.head(10)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,price_1,price_1.1
0,Super built-up Area,2025-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,39.07,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,120.00,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,62.00,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,95.00,NaN
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,51.00,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00,38.00,38.00
6,Super built-up Area,2025-05-18 00:00:00,Old Airport Road,4 BHK,Jaades,2732,4.0,NaN,204.00,NaN,NaN
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.00,600.00,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25,63.25,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,NaN,370.00,370.00,NaN

In [13]:
# df.isnull().sum()

area_type        0
availability     0
location         0
size             0
society         42
total_sqft       0
bath             2
balcony          8
price            0
price_1          6
price_1.1       17
dtype: int64

In [18]:
# fillna()
df['balcony'] = df['balcony'].fillna(0)

In [19]:
# df.head(10)
# Mean (Average) → Best for normally distributed numerical data
# Median → Best for skewed data with outliers
# Mode → Best for categorical data

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,price_1,price_1.1
0,Super built-up Area,2025-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,39.07,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,120.00,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,62.00,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,95.00,NaN
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,51.00,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00,38.00,38.00
6,Super built-up Area,2025-05-18 00:00:00,Old Airport Road,4 BHK,Jaades,2732,4.0,0.0,204.00,NaN,NaN
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,0.0,600.00,600.00,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25,63.25,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,0.0,370.00,370.00,NaN

In [20]:
df['price_1'].fillna(df['price_1'].mean(), inplace=True)
df['price_1.1'].fillna(df['price_1.1'].median(), inplace=True)

In [21]:
df.head(10)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,price_1,price_1.1
0,Super built-up Area,2025-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,39.070000,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,120.000000,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,62.000000,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,95.000000,70.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,51.000000,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00,38.000000,38.00
6,Super built-up Area,2025-05-18 00:00:00,Old Airport Road,4 BHK,Jaades,2732,4.0,0.0,204.00,102.709894,70.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,0.0,600.00,600.000000,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25,63.250000,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,0.0,370.00,370.000000,70.00

In [22]:
pd.set_option('display.max_rows', None)

In [23]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,price_1,price_1.1
0,Super built-up Area,2025-12-19 00:00:00,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,39.070000,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,120.000000,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,62.000000,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,95.000000,70.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,51.000000,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00,38.000000,38.00
6,Super built-up Area,2025-05-18 00:00:00,Old Airport Road,4 BHK,Jaades,2732,4.0,0.0,204.00,102.709894,70.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,0.0,600.00,600.000000,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25,63.250000,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,0.0,370.00,370.000000,70.00
10,Super built-up Area,2025-02-18 00:00:00,Whitefield,3 BHK,NaN,1800,2.0,2.0,70.00,70.000000,70.00
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00,295.000000,295.00
12,Super built-up Area,Ready To Move,7th Phase JP Nagar,2 BHK,Shncyes,1000,2.0,1.0,38.00,38.000000,38.00
13,Built-up Area,Ready To Move,Gottigere,2 BHK,NaN,1100,2.0,2.0,40.00,40.000000,40.00
14,Plot Area,Ready To Move,Sarjapur,3 Bedroom,Skityer,2250,3.0,2.0,148.00,148.000000,148.00
15,Super built-up Area,Ready To Move,Mysore Road,2 BHK,PrntaEn,1175,2.0,2.0,73.50,73.500000,73.50
16,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1180,3.0,2.0,48.00,48.000000,48.00
17,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1540,3.0,3.0,60.00,60.000000,60.00
18,Super built-up Area,Ready To Move,Ramakrishnappa Layout,3 BHK,PeBayle,2770,4.0,2.0,290.00,290.000000,290.00
19,Super built-up Area,Ready To Move,Manayata Tech Park,2 BHK,NaN,1100,2.0,2.0,48.00,48.000000,48.00
20,Built-up Area,Ready To Move,Kengeri,1 BHK,NaN,600,1.0,1.0,15.00,15.000000,70.00
21,Super built-up Area,2025-12-19 00:00:00,Binny Pete,3 BHK,She 2rk,1755,3.0,1.0,122.00,122.000000,122.00
22,Plot Area,Ready To Move,Thanisandra,4 Bedroom,Soitya,2800,5.0,2.0,380.00,380.000000,380.00
23,Super built-up Area,Ready To Move,Bellandur,3 BHK,NaN,1767,3.0,1.0,103.00,103.000000,103.00
24,Super built-up Area,2025-11-18 00:00:00,Thanisandra,1 RK,Bhe 2ko,510,1.0,0.0,25.25,25.250000,25.25
25,Super built-up Area,2025-05-18 00:00:00,Mangammanapalya,3 BHK,NaN,1250,3.0,2.0,56.00,56.000000,56.00
26,Super built-up Area,Ready To Move,Electronic City,2 BHK,Itelaa,660,1.0,1.0,23.10,23.100000,23.10
27,Built-up Area,2025-12-20 00:00:00,Whitefield,3 BHK,NaN,1610,3.0,2.0,81.00,81.000000,81.00
28,Super built-up Area,2025-10-17 00:00:00,Ramagondanahalli,2 BHK,ViistLa,1151,2.0,2.0,48.77,102.709894,70.00
29,Super built-up Area,Ready To Move,Electronic City,3 BHK,KBityo,1025,2.0,1.0,47.00,47.000000,47.00
30,Super built-up Area,2025-12-19 00:00:00,Yelahanka,4 BHK,LedorSa,2100 - 2850,4.0,0.0,186.00,186.000000,186.00
31,Super built-up Area,Ready To Move,Bisuvanahalli,3 BHK,Prityel,1075,2.0,1.0,35.00,35.000000,35.00
32,Super built-up Area,Ready To Move,Hebbal,3 BHK,Mahosya,1760,2.0,2.0,123.00,123.000000,123.00
33,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,3 BHK,GrrvaGr,1693,3.0,3.0,57.39,57.390000,70.00
34,Built-up Area,Ready To Move,Kasturi Nagar,3 BHK,Kantsce,1925,3.0,0.0,125.00,125.000000,125.00
35,Super built-up Area,2025-12-21 00:00:00,Kanakpura Road,2 BHK,PrarePa,700,2.0,1.0,36.00,36.000000,36.00
36,Super built-up Area,Ready To Move,Electronics City Phase 1,2 BHK,NaN,1070,2.0,1.0,45.50,45.500000,45.50
37,Super built-up Area,Ready To Move,Kundalahalli,3 BHK,Dieldli,1724,3.0,2.0,125.00,125.000000,125.00
38,Super built-up Area,Ready To Move,Chikkalasandra,3 BHK,NaN,1290,2.0,2.0,56.12,56.120000,70.00
39,Built-up Area,Ready To Move,Uttarahalli,2 BHK,NaN,1143,2.0,2.0,45.00,45.000000,45.00
40,Built-up Area,Ready To Move,Murugeshpalya,2 BHK,Gentson,1296,2.0,0.0,81.00,81.000000,81.00
41,Super built-up Area,2025-12-19 00:00:00,Sarjapur Road,3 BHK,Soini T,1254,3.0,2.0,38.00,38.000000,38.00
42,Super built-up Area,Ready To Move,Ganga Nagar,1 BHK,Ceove G,600,1.0,0.0,38.00,38.000000,38.00
43,Plot Area,Ready To Move,Yelahanka,1 Bedroom,NaN,660,1.0,0.0,48.00,48.000000,48.00
44,Super built-up Area,2025-09-19 00:00:00,Kanakpura Road,2 BHK,Soazak,1330.74,2.0,2.0,91.79,102.709894,70.00
45,Plot Area,Ready To Move,HSR Layout,8 Bedroom,NaN,600,9.0,0.0,200.00,200.000000,200.00
46,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,LancyRe,970,2.0,0.0,33.00,33.000000,33.00
47,Super built-up Area,2025-09-20 00:00:00,Whitefield,2 BHK,Goted U,1459,2.0,1.0,94.82,94.820000,70.00
48,Plot Area,Ready To Move,KR Puram,2 Bedroom,NaN,800,1.0,1.0,130.00,130.000000,130.00
49,Built-up Area,Ready To Move,Himagiri Meadows,2 BHK,NaN,869,2.0,1.0,36.00,36.000000,36.00
50,Super built-up Area,Ready To Move,Adarsh Nagar,2 BHK,Bhncyis,1270,2.0,1.0,50.00,50.000000,50.00
51,Super built-up Area,2025-03-18 00:00:00,Bhoganhalli,3 BHK,Rosha I,1670,3.0,1.0,99.00,99.000000,99.00
52,Built-up Area,Ready To Move,Whitefield,3 BHK,Suent V,2010,3.0,2.0,91.00,91.000000,91.00
53,Super built-up Area,Ready To Move,Lakshminarayana Pura,2 BHK,RothaVa,1185,2.0,2.0,75.00,75.000000,75.00
54,Super built-up Area,Ready To Move,Yelahanka,3 BHK,NCowsar,1600,2.0,3.0,75.00,75.000000,75.00
55,Super built-up Area,Ready To Move,Begur Road,2 BHK,Dhalsh,1200,2.0,2.0,44.00,44.000000,44.00
56,Built-up Area,2025-02-20 00:00:00,Devanahalli,4 Bedroom,BrereAt,3010 - 3410,NaN,0.0,192.00,192.000000,192.00
57,Super built-up Area,Ready To Move,Ramakrishnappa Layout,2 BHK,PeBayle,1500,2.0,2.0,185.00,185.000000,185.00
58,Plot Area,Ready To Move,Murugeshpalya,6 Bedroom,NaN,1407,4.0,1.0,150.00,150.000000,150.00
59,Super built-up Area,Ready To Move,Govindaraja Nagar Ward,2 BHK,NaN,840,2.0,2.0,45.00,45.000000,45.00
60,Plot Area,Ready To Move,Tharabanahalli,3 Bedroom,NaN,4395,3.0,2.0,240.00,240.000000,70.00
61,Super built-up Area,Ready To Move,Ganga Nagar,2 BHK,Laavevi,845,2.0,1.0,55.00,55.000000,55.00
62,Plot Area,Ready To Move,Whitefield,4 Bedroom,Chranya,5700,5.0,3.0,650.00,102.709894,70.00
63,Built-up Area,Ready To Move,Varthur,2 BHK,HioraTr,1160,2.0,2.0,44.00,44.000000,44.00
64,Built-up Area,Ready To Move,Bommanahalli,8 Bedroom,NaN,3000,8.0,0.0,140.00,140.000000,140.00
65,Super built-up Area,Ready To Move,Doddathoguru,2 BHK,NaN,1100,2.0,1.0,62.00,62.000000,62.00
66,Super built-up Area,2025-04-18 00:00:00,Gunjur,2 BHK,BMineis,1140,2.0,3.0,43.00,43.000000,43.00
67,Super built-up Area,Ready To Move,Marathahalli,2 BHK,NaN,1220,2.0,1.0,57.00,57.000000,57.00
68,Plot Area,Ready To Move,Devarachikkanahalli,8 Bedroom,NaN,1350,7.0,0.0,85.00,85.000000,85.00
69,Super built-up Area,Ready To Move,Kanakpura Road,2 BHK,NaN,1005,2.0,1.0,36.68,36.680000,70.00
70,Plot Area,Ready To Move,Double Road,3 Bedroom,NaN,500,3.0,2.0,100.00,100.000000,100.00
71,Super built-up Area,2025-08-20 00:00:00,Begur Road,2 BHK,Pruthg,1358,2.0,1.0,80.58,80.580000,80.58
72,Super built-up Area,Ready To Move,Hegde Nagar,3 BHK,Sonosty,1569,3.0,1.0,101.00,101.000000,101.00
73,Super built-up Area,2025-04-18 00:00:00,Haralur Road,2 BHK,SNnia E,1240,2.0,1.0,70.00,70.000000,70.00
74,Super built-up Area,Ready To Move,Hennur Road,3 BHK,Anavi B,2089,3.0,2.0,140.00,140.000000,140.00
75,Super built-up Area,Ready To Move,Kothannur,2 BHK,NaN,1206,2.0,1.0,48.23,48.230000,48.23
76,Super built-up Area,Ready To Move,Kalena Agrahara,2 BHK,NaN,1150,2.0,3.0,40.00,40.000000,40.00
77,Built-up Area,Ready To Move,Cholanayakanahalli,3 BHK,Viony H,2511,3.0,3.0,205.00,205.000000,205.00
78,Built-up Area,Ready To Move,Kaval Byrasandra,2 BHK,NaN,460,1.0,0.0,22.00,22.000000,70.00
79,Built-up Area,Ready To Move,ISRO Layout,6 Bedroom,NaN,4400,6.0,3.0,250.00,250.000000,250.00
80,Super built-up Area,Ready To Move,Kodanda Reddy Layout,3 BHK,AdentEl,1660,2.0,2.0,105.00,102.709894,70.00
81,Built-up Area,2025-10-18 00:00:00,Hennur Road,4 Bedroom,Gollela,2957 - 3450,NaN,0.0,224.50,224.500000,224.50
82,Super built-up Area,2025-03-19 00:00:00,Yelahanka,2 BHK,Niareum,1326,2.0,2.0,78.00,78.000000,78.00
83,Super built-up Area,Ready To Move,Garudachar Palya,3 BHK,NaN,1325,2.0,2.0,60.80,60.800000,60.80
84,Super built-up Area,Ready To Move,EPIP Zone,3 BHK,SJlynro,1499,5.0,2.0,102.00,102.000000,70.00
85,Built-up Area,Ready To Move,Hegde Nagar,6 Bedroom,NaN,3000,7.0,2.0,210.00,210.000000,210.00
86,Super built-up Area,Ready To Move,Kanakpura Road,3 BHK,NaN,1665,3.0,2.0,88.00,88.000000,88.00
87,Super built-up Area,2025-09-17 00:00:00,Dasanapura,2 BHK,Tavenew,708,2.0,2.0,37.00,37.000000,37.00
88,Super built-up Area,Ready To Move,Kasavanhalli,2 BHK,Srire S,1060,2.0,2.0,58.06,58.060000,58.06
89,Plot Area,Ready To Move,Rajaji Nagar,6 Bedroom,NaN,710,6.0,3.0,160.00,160.000000,160.00
90,Built-up Area,Ready To Move,Sanjay nagar,2 BHK,Saenti,1000,2.0,2.0,70.00,70.000000,70.00
91,Super built-up Area,2025-12-18 00:00:00,Electronic City,2 BHK,NaN,1000,2.0,1.0,28.88,28.880000,28.88
92,Super built-up Area,Ready To Move,Mysore Highway,3 BHK,NaN,1450,2.0,2.0,70.00,70.000000,70.00
93,Plot Area,Ready To Move,ISRO Layout,4 Bedroom,NaN,1200,4.0,2.0,155.00,155.000000,155.00
94,Super built-up Area,2025-08-17 00:00:00,Thanisandra,2 BHK,Bhmesy,1296,2.0,3.0,80.00,80.000000,80.00
95,Super built-up Area,Ready To Move,Domlur,3 BHK,NaN,1540,3.0,2.0,90.00,90.000000,90.00
96,Plot Area,Ready To Move,Kengeri,4 Bedroom,Goardth,2894,4.0,1.0,245.00,245.000000,70.00
97,Super built-up Area,Ready To Move,Sarjapura - Attibele Road,3 BHK,NaN,1330,2.0,1.0,48.00,48.000000,48.00
98,Built-up Area,Ready To Move,Devasthanagalu,2 BHK,NaN,1200,2.0,1.0,65.00,102.709894,70.00
99,Built-up Area,Ready To Move,T Dasarahalli,3 Bedroom,NaN,1200,3.0,1.0,90.00,90.000000,90.00

In [24]:
# dropna
df.dropna(subset=['society'],inplace = True)

In [25]:
df.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            2
balcony         0
price           0
price_1         0
price_1.1       0
dtype: int64

In [27]:
# interpolate
# df['temp'] = df['temp'].interpolate(method='linear')
# df['temp'] = df['temp'].interpolate(method='polynomial', order = 2)
# df['sales'] = df['sales'].interpolate(method='time')

In [73]:
# Data type conversion
fin = pd.read_excel(r'C:\Users\Arindham Krishna\Desktop\Data Engineer MIT\Data Sets\Company Financial\TestFin.xlsx')

In [74]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Segment                30 non-null     object
 1   Country                30 non-null     object
 2    Product               30 non-null     object
 3    Discount Band         30 non-null     object
 4    Units Sold            30 non-null     object
 5    Manufacturing Price   30 non-null     object
 6    Sale Price            30 non-null     object
 7    Gross Sales           30 non-null     object
 8    Discounts             30 non-null     object
 9     Sales                30 non-null     object
 10   COGS                  30 non-null     object
 11   Profit                30 non-null     object
 12  Date                   30 non-null     datetime64[ns]
 13  Month Number           30 non-null     int64
 14   Month Name            30 non-null     object
 15  Year                   30 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(13)
memory usage: 3.9+ KB

In [64]:
# fin.head(10)

In [37]:
# object to float
# fin['  Sales '] = fin['  Sales '].astype(float)

In [75]:
# fin.columns

In [35]:
# regex
# https://saturncloud.io/blog/how-to-apply-regex-to-a-pandas-dataframe/ 
# https://www.geeksforgeeks.org/python-regex-cheat-sheet/

# fin['  Sales '] = fin['  Sales '].str.replace('[\$,]', '', regex = True)

In [76]:
# fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Segment                30 non-null     object
 1   Country                30 non-null     object
 2    Product               30 non-null     object
 3    Discount Band         30 non-null     object
 4    Units Sold            30 non-null     object
 5    Manufacturing Price   30 non-null     object
 6    Sale Price            30 non-null     object
 7    Gross Sales           30 non-null     object
 8    Discounts             30 non-null     object
 9     Sales                30 non-null     object
 10   COGS                  30 non-null     object
 11   Profit                30 non-null     object
 12  Date                   30 non-null     datetime64[ns]
 13  Month Number           30 non-null     int64
 14   Month Name            30 non-null     object
 15  Year                   30 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(13)
memory usage: 3.9+ KB

In [39]:
# fin[' Discounts '] = pd.to_numeric(fin[' Discounts '], errors='coerce')

In [80]:
fin.head(10)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",2014-06-01,6,June,2014
5,Government,Germany,Carretera,None,"$1,513.00",$3.00,$350.00,"$5,29,550.00",$-,"$5,29,550.00","$3,93,380.00","$1,36,170.00",2014-12-01,12,December,2014
6,Enterprise,United States of America,Carretera,Low,$330.00,$3.00,$125.00,"$41,250.00",$412.50,"$40,837.50","$39,600.00","$1,237.50",2013-09-01,9,September,2013
7,Channel Partners,Germany,Carretera,Low,$766.00,$3.00,$12.00,"$9,192.00",$91.92,"$9,100.08","$2,298.00","$6,802.08",2013-10-01,10,October,2013
8,Small Business,Mexico,Carretera,Low,$494.00,$3.00,$300.00,"$1,48,200.00","$1,482.00","$1,46,718.00","$1,23,500.00","$23,218.00",2013-10-01,10,October,2013
9,Small Business,United States of America,Montana,Low,"$2,498.00",$5.00,$300.00,"$7,49,400.00","$7,494.00","$7,41,906.00","$6,24,500.00","$1,17,406.00",2013-09-01,9,September,2013

In [79]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Segment                30 non-null     object
 1   Country                30 non-null     object
 2    Product               30 non-null     object
 3    Discount Band         30 non-null     object
 4    Units Sold            30 non-null     object
 5    Manufacturing Price   30 non-null     object
 6    Sale Price            30 non-null     object
 7    Gross Sales           30 non-null     object
 8    Discounts             30 non-null     object
 9     Sales                30 non-null     object
 10   COGS                  30 non-null     object
 11   Profit                30 non-null     object
 12  Date                   30 non-null     datetime64[ns]
 13  Month Number           30 non-null     int64
 14   Month Name            30 non-null     object
 15  Year                   30 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(13)
memory usage: 3.9+ KB

In [66]:
# Date and time handling
fin['Date'] = pd.to_datetime(fin['Date'], format ='%d-%m-%Y')

In [83]:
fin['Date_Format'] = fin['Date'].dt.strftime('%d-%m-%Y')

In [84]:
fin.head(10)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year,Date_Format
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",2014-01-01,1,January,2014,01-01-2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",2014-01-01,1,January,2014,01-01-2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",2014-06-01,6,June,2014,01-06-2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",2014-06-01,6,June,2014,01-06-2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",2014-06-01,6,June,2014,01-06-2014
5,Government,Germany,Carretera,None,"$1,513.00",$3.00,$350.00,"$5,29,550.00",$-,"$5,29,550.00","$3,93,380.00","$1,36,170.00",2014-12-01,12,December,2014,01-12-2014
6,Enterprise,United States of America,Carretera,Low,$330.00,$3.00,$125.00,"$41,250.00",$412.50,"$40,837.50","$39,600.00","$1,237.50",2013-09-01,9,September,2013,01-09-2013
7,Channel Partners,Germany,Carretera,Low,$766.00,$3.00,$12.00,"$9,192.00",$91.92,"$9,100.08","$2,298.00","$6,802.08",2013-10-01,10,October,2013,01-10-2013
8,Small Business,Mexico,Carretera,Low,$494.00,$3.00,$300.00,"$1,48,200.00","$1,482.00","$1,46,718.00","$1,23,500.00","$23,218.00",2013-10-01,10,October,2013,01-10-2013
9,Small Business,United States of America,Montana,Low,"$2,498.00",$5.00,$300.00,"$7,49,400.00","$7,494.00","$7,41,906.00","$6,24,500.00","$1,17,406.00",2013-09-01,9,September,2013,01-09-2013

In [85]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Segment                30 non-null     object
 1   Country                30 non-null     object
 2    Product               30 non-null     object
 3    Discount Band         30 non-null     object
 4    Units Sold            30 non-null     object
 5    Manufacturing Price   30 non-null     object
 6    Sale Price            30 non-null     object
 7    Gross Sales           30 non-null     object
 8    Discounts             30 non-null     object
 9     Sales                30 non-null     object
 10   COGS                  30 non-null     object
 11   Profit                30 non-null     object
 12  Date                   30 non-null     datetime64[ns]
 13  Month Number           30 non-null     int64
 14   Month Name            30 non-null     object
 15  Year                   30 non-null     int64
 16  Date_Format            30 non-null     object
dtypes: datetime64[ns](1), int64(2), object(14)
memory usage: 4.1+ KB

In [86]:
fin['Date'] = fin['Date'].dt.strftime('%d-%m-%Y')

In [87]:
fin.head(10)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year,Date_Format
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01-01-2014,1,January,2014,01-01-2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01-01-2014,1,January,2014,01-01-2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01-06-2014,6,June,2014,01-06-2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01-06-2014,6,June,2014,01-06-2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01-06-2014,6,June,2014,01-06-2014
5,Government,Germany,Carretera,None,"$1,513.00",$3.00,$350.00,"$5,29,550.00",$-,"$5,29,550.00","$3,93,380.00","$1,36,170.00",01-12-2014,12,December,2014,01-12-2014
6,Enterprise,United States of America,Carretera,Low,$330.00,$3.00,$125.00,"$41,250.00",$412.50,"$40,837.50","$39,600.00","$1,237.50",01-09-2013,9,September,2013,01-09-2013
7,Channel Partners,Germany,Carretera,Low,$766.00,$3.00,$12.00,"$9,192.00",$91.92,"$9,100.08","$2,298.00","$6,802.08",01-10-2013,10,October,2013,01-10-2013
8,Small Business,Mexico,Carretera,Low,$494.00,$3.00,$300.00,"$1,48,200.00","$1,482.00","$1,46,718.00","$1,23,500.00","$23,218.00",01-10-2013,10,October,2013,01-10-2013
9,Small Business,United States of America,Montana,Low,"$2,498.00",$5.00,$300.00,"$7,49,400.00","$7,494.00","$7,41,906.00","$6,24,500.00","$1,17,406.00",01-09-2013,9,September,2013,01-09-2013

In [88]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Segment                30 non-null     object
 1   Country                30 non-null     object
 2    Product               30 non-null     object
 3    Discount Band         30 non-null     object
 4    Units Sold            30 non-null     object
 5    Manufacturing Price   30 non-null     object
 6    Sale Price            30 non-null     object
 7    Gross Sales           30 non-null     object
 8    Discounts             30 non-null     object
 9     Sales                30 non-null     object
 10   COGS                  30 non-null     object
 11   Profit                30 non-null     object
 12  Date                   30 non-null     object
 13  Month Number           30 non-null     int64
 14   Month Name            30 non-null     object
 15  Year                   30 non-null     int64
 16  Date_Format            30 non-null     object
dtypes: int64(2), object(15)
memory usage: 4.1+ KB

In [ ]:
# fin['year'] = fin['date'].dt.year  
# fin['Month_Number'] = fin['date'].dt.month  
# fin['Day'] = fin['date'].dt.day